<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="login"></ion-back-button>
        </ion-buttons>
        <ion-title>Recuperar Contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form class="form" [formGroup]="reserPasswordForm" (ngSubmit)="resetPassword(reserPasswordForm.value)">
        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-button class="ion-margin-vertical" type="submit" [disabled]="!reserPasswordForm.valid" expand="block">
            Enviar
        </ion-button>
    </form>
</ion-content>