<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Info de la App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="people"></ion-icon>
          Quiénes somos?
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./../../../assets/img/about-1.jpg" alt="Desarrollador de software">
          </ion-avatar>
          <ion-label>
            <h1>Pablo 👨‍💻</h1>
            <h2>Desarrollador de Software</h2>
            <ion-button size="small">
              <a href="https://www.linkedin.com/in/pablo-mancinelli/" target="_blank">
                <strong>LinkedIn</strong>
              </a>
            </ion-button>
            <ion-button size="small" color="light">
              <a href="https://github.com/mp182" target="_blank">
                <strong>GitHub</strong>
              </a>
            </ion-button>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-avatar slot="start">
            <img src="./../../../assets/img/about-2.jpg" alt="Branding">
          </ion-avatar>
          <ion-label>
            <h1>Gustavo 🎨</h1>
            <h2>Logo y Consultoría de Diseño</h2>
            <ion-button size="small">
              <a href="https://www.linkedin.com/in/gustavo-manuel-d%C3%ADaz-91476084/" target="_blank">
                <strong>LinkedIn</strong>
              </a>
            </ion-button>
            <ion-button size="small" color="danger">
              <a href="https://www.instagram.com/codigo.dg.comunicacion/" target="_blank">
                <strong>Instagram</strong>
              </a>
            </ion-button>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="information-circle-outline"></ion-icon>
          Info
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Versión: {{ version }}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>