input[type="file"] {
  border: 2px solid lightblue;
  border-radius: 5px;
  max-width: 100%;
  padding: 1px;
}

.currentImage {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
